<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>South-test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        #webchat {
            height: 100%;
            width: 90%;
        }

            #webchat > * {
                height: 100%;
                width: 100%;
            }
    </style>
</head>

<body>
    <h2>South-Test</h2>
    <div id="webchat" role="main"></div>
    <script type="text/javascript"
            src="https://unpkg.com/markdown-it/dist/markdown-it.min.js"></script>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script>
       
        (async function () {

            let conversationId;
            let token;
            let directLine;
            let dateTime = (new Date()).getTime();
            let userId = `dl_south_${dateTime}`;
            let userName = "south";

            conversationId = window.sessionStorage["conversationId"];
            token = window.sessionStorage["token"];

            if (conversationId != undefined) {

                const res = await fetch(`https://directline.botframework.com/v3/directline/conversations/${conversationId}`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                    },
                });

                let { conversation_Id } = await res.json();
                sessionStorage['conversationId'] = conversation_Id;
            }
            else {

                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");
                myHeaders.append("Authorization", "Bearer Y5Q8eF-nQpg.eAaDdLhXgVaQIxspU1x3KemsfdKFbTR7x2IcnKUL0s8");

                var raw = JSON.stringify({
                    "user": {
                        "id": userId,
                        "name": userName
                    },
                    "trustedOrigins": [
                        "string"
                    ]
                });

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                const res = await fetch('https://directline.botframework.com/v3/directline/tokens/generate', requestOptions);
                const { token: directLineToken, conversation_Id } = await res.json();

                token = directLineToken;
                sessionStorage.conversationId = conversation_Id;
                sessionStorage.token = token;
            }

            const store = window.WebChat.createStore({}, ({ dispatch }) => next => action => {
                if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
                    // When we receive DIRECT_LINE/CONNECT_FULFILLED action, we will send an event activity using WEB_CHAT/SEND_EVENT
                    dispatch({
                        type: 'WEB_CHAT/SEND_EVENT',
                        payload: {
                            name: 'webchat/join',
                            value: '{"data": ["SimplySouth.xlsx","SouthIndianCalories.xlsx","NorthIndianCalories.xlsx"],"multiLang":"true"}'
                        }
                    });
                }
                return next(action);
            });

            directLine =  window.WebChat.createDirectLine({
                token: token
            });

            window.WebChat.renderWebChat(
                {
                    directLine,
                    sendTypingIndicator: true,
                    userID: userId,
                    username: userName,
                    locale: 'en-US',
                    botAvatarInitials: 'WC',
                    userAvatarInitials: 'WW',
                    store
                },
                document.getElementById('webchat')
            );

        })().catch(err => console.error(err));
    </script>
</body>
</html>